{% extends "admin/base.html" %}
{% load static %}

{% block content %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>{{ category }}</h2>
        <ol class="breadcrumb">
            <li>
                 <a href="#">Home</a>
            </li>
            <li>
                <a><strong>{{ category }}</strong></a>
            </li>
        </ol>
    </div>
</div>
            
<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>{{ category }} Items</h5>
                    <div class="ibox-tools">
                    	<a class="btn btn-primary" href="{% url 'item_form' %}" type="button" id="add_item_btn"><i class="fa fa-plus"></i> Add Item</a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="jqGrid_wrapper">
                        <table id="items_lit_tbl"></table>
                        <div id="items_pager_list"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal inmodal" id="delete_item_modal" tabindex="-1" role="dialog" aria-hidden="true">
 	<div class="modal-dialog">
	    <div class="modal-content animated bounceInRight">
	            <div class="modal-header">
	                <h3 class="modal-title custom-font">Delete Item</h3>
	            </div>
	            <div class="modal-body">
	                Are you sure want to delete this Item?
	                <form method='post' id='delete_item_form'>
	                	<input type='text' name='item_id' id="item_to_delete_id">
	                	{% csrf_token %}
	                </form>
	            </div>
	            <div class="modal-footer">
	                <button type="button" class="btn btn-white" data-dismiss="modal">No</button>
	                <button type="button" class="btn btn-primary" id="delete_item_submit">Yes</button>
	            </div>
	        </div>
	    </div>
</div>


{% endblock %}

{% block scriptPage %}  
<script>
	
	var items_jqGrid = {
			grid : null,
			refresh_grid : function(){
				$("#items_lit_tbl").trigger( 'reloadGrid' );
			},
			
			init_grid : function(){
				this.grid = $("#items_lit_tbl").jqGrid({
					url: '{% url "order_item_page" %}',
				   	datatype: "json",
				 	shrinkToFit: true,
				 	autowidth: true,
				 	width: null,
				 	sortable:true,
				 	gridview: true,
					// the colnames represent the columns labels or table headers
				   	colNames:['SubCategory',],
				   	colModel:[
				   		{name:'{{ order.created_ts }}', index:'',search: true,	sortable:true},
				   	],
				   	
				 	rowNum:10,
				   	rowList:[10,20,30],
				 	regional:'en',
				 	pager: '#items_pager_list',
				 	sortname: 'name',
				    viewrecords: true,
				    sortorder: "desc",
				    height: "auto",
				    gridComplete: items_jqGrid.grid_complete,
				});
				this.grid.jqGrid('filterToolbar', { searchOnEnter: true, enableClear: false });
			},
	};
	
	$(function(){
		items_jqGrid.init_grid();
		
	});
	
	function myformatter ( cellvalue, options, rowObject )
	{
	     return cellvalue + ' ' + rowObject.id + ' ' + rowObject.sizes;
	}

</script>
{% endblock %}