<nav class="navbar-default navbar-static-side" role="navigation">
	<div class="sidebar-collapse">
		<ul class="nav metismenu" id="side-menu">
			<li class="nav-header">
				<div class="dropdown profile-element">
					<a data-toggle="dropdown" class="dropdown-toggle" href="#"> <span
						class="clear"> <span class="block m-t-xs"> <strong
								class="font-bold">Welcome Admin </strong>
						</span>
					</span>
					</a>
					<ul class="dropdown-menu animated fadeInRight m-t-xs">
						<li><a href="">Change Password</a></li>
						<li class="divider"></li>
						<li><a href="">Logout</a></li>
					</ul>
				</div>
				<div class="logo-element"></div>
			</li>
			<li>
				<a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">Items</span><span class="fa arrow"></span></a>
				<ul class="nav nav-second-level">
					<li>
						<a href="{% url	 'items' %}"><i class="fa fa-table"></i> <span class="nav-label">Items</span></a>
					</li>
					<li>
						<a href="{% url	 'sub_cat_admin' %}"><i class="fa fa-table"></i> <span class="nav-label">SubCategory</span></a>
					</li>
				</ul>
				
				
				<a href=""><i class="fa fa-th-large"></i> <span class="nav-label">Orders</span><span class="fa arrow"></span></a>
					<ul class="nav nav-second-level">
						<li>
							<a href="{% url	 'order' %}"><i class="fa fa-table"></i> <span class="nav-label">order</span></a>
						</li>
					</ul>
				
			</li>
			

			
		</ul>
	</div>
</nav>
